* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    /* background-color: inherit; */
}

#c {
    /* position: fixed; */
    top: 0;
    left: 0;
    outline: none;
}

#video {
    display: none;
}

#vid {
    display: none;
}

#main {
    background-image: url('/1176051.jpg');
    z-index: 1;
}

h1 {
    position: absolute;
    top: 25%;
    /* Adjust the position as needed */
    left: 40%;
    /* Adjust the position as needed */
    color: rgb(255, 255, 255);
    text-shadow:
      0 0 1px #ffffff,
      0 0 3px #0fa;
    /* Text color */
    font-size: 50px;
    /* Text size */
    z-index: 1;
    /* Ensure it's above the scene */
    /* background-image: url('/terzo2-removebg-preview.png'); */
    opacity: 0;
    animation: mymove 5s forwards 4s; /* Use 'forwards' to keep opacity at 100 after animation */
}
#text {
    position: absolute;
    top: 40%;
    /* left: 40%; */
    color: rgb(214, 214, 214);
    font-size: 50px;
    z-index: 1;
    /* background-image: url('/terzo2-removebg-preview.png'); */
    background-repeat: no-repeat;
    object-fit: cover;
}

@keyframes mymove {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@font-face {
    font-family: "myfont";
    src: url("/fonts/PoiretOne-Regular.ttf") format("truetype");
}

#terzo {
    font-family: myfont;
}